/*
*/
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bg-green {
  background-color: #3aaa35;
}

.bg-mag {
  background-color: #942514;
}

.bg-red {
  background-color: #d03716;
}
/**/

.banner {
  background-attachment: fixed;
  background-position: 0;
  background-size: cover;
  height: 100vh;
  color: #fff !important;
  /* height: 500px; */
  position: relative;
  padding: 180px 0;
}
.banner h1 {
  font-size: 4.5rem;
}
.header {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 11;
}

.project-x-info {
  color: #fff !important;
}
.information {
  height: 300px;
}
.inner_box.ghost {
  visibility: hidden;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}
.ss-style-triangles::before,
.ss-style-triangles::after {
  position: absolute;
  content: "";
  pointer-events: none;
}
/* Triangles */

.ss-style-triangles::before,
.ss-style-triangles::after {
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

.ss-style-triangles::before {
  top: -25px;
  /* background: #2980b9; */
  z-index: 0;
  background: inherit;
}

/* .ss-style-triangles::after {
  bottom: -50px;
  z-index: 10;
  background: inherit;
} */

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: white;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  /* left: 50%;
  position: absolute;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid white;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #767676;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

@media only screen and (max-width: 800px) {
  .banner-left h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
    text-shadow: 1px 2px #000;
  }
  .banner {
    padding: 120px 0;
    height: auto;
  }

  .banner h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .information {
    height: 1200px;
  }
}
